body {
  font-family:"Microsoft JhengHei","儷黑 Pro", "LiHei Pro Medium", Arial, Helvetica;
  margin-left: 0px;
  margin-top: 30px;
  margin-right: 0px;
  margin-bottom: 0px;
  color:#333;
  font-size: 13px;
  line-height:24px;
}

table {
  font-size: 13px;
  line-height: 24px;
}

.mainTable {
  margin-bottom: 100px;
}

.subTable { 
  border: 1px solid #333;
  border-collapse: collapse;
  margin:0 auto;
} 

.subTable tr, .subTable td {  
 border: 1px solid #333;
 padding:10px;
}



.content img {
  
width: 100%;

}



body{
        
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position:left top;
        margin: 0 auto;
                /*-width: 1680px;*/
            display: block;
      }
      .content{
        display: block;
          /*-width: 1680px; */
        margin: 0 auto;
        margin: 0px 0 0 0px;
      }
      .navi img{
            position: fixed;
            z-index: 99;
              /*-width: 1680px;*/
            opacity: 1;
            margin:0;
            width: 100%;
         }
       







 .topparent{
          width: 100%;
          position: fixed;
          float: right;
          bottom: 20px;
          right:1%;
         } 
  

  .top{
        background-image: url("../images/pride_pc_top.png");
         background-repeat: no-repeat;
         float: right;
         z-index: 100;
         position: relative;
         width: 170px;
         height: 550px;
         right: -30px;
         bottom: -420px;
         }    
       




   .top2{
        background-image: url("../image/B_top.png");
         background-repeat: no-repeat;
         float: right;
         z-index: 100;
         position: relative;
         width: 170px;
         height: 420px;
         right:20px;
         bottom: -5px;
         }    
       
       




.text01 {
  font-family:"Microsoft JhengHei","儷黑 Pro", "LiHei Pro Medium", Arial, Helvetica;
  font-size: 15px;
  font-style: normal;
  line-height: 24px;
  font-weight: bold;
  font-variant: normal; 
  color: #FFF;
}
.text02 {
  font-family:"Microsoft JhengHei","儷黑 Pro", "LiHei Pro Medium", Arial, Helvetica;
  font-size: 13px;
  font-style: normal;
  line-height: 20px;
  font-weight: bold;
  color: #d70c18;
}
.text03 {
  font-family:"Microsoft JhengHei","儷黑 Pro", "LiHei Pro Medium", Arial, Helvetica;
  font-size: 13px;
  font-style: normal;
  line-height: 24px;
  font-weight: bold;
  color: #333;
}
.text04 {
  font-family:"Microsoft JhengHei","儷黑 Pro", "LiHei Pro Medium", Arial, Helvetica;
  font-size: 13px;
  font-style: normal;
  line-height: 24px;
  font-weight: bold;
  color:#313383;
}
.text05 {
  font-family:"Microsoft JhengHei","儷黑 Pro", "LiHei Pro Medium", Arial, Helvetica;
  font-size: 13px;
  font-style: normal;
  line-height: 24px;
  font-weight: bold;
  color:#5d3d00;
  background-color: #ffe66f;
}

a {
  color: #0b888e;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: #0b888e;
}
a:hover {
  text-decoration: underline;
  color: #0b888e;
}
a:active {
	text-decoration: none;
	color: #B4B4B4;
	font-style: italic;
}

.red {
	  color: #808080;
	}


span{
 color: #FFFFFF;
 font-size: 11px;
 background-color: #FF2636;

}



